<h2>Edit User</h2>

<% form_for(@user) do |form| %>
  <%= render :partial => 'fields', :locals => { :f => form} %>
  <div class="actions">
    <%= form.submit "Update" %>
  </div>
<% end %>

<div>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails" target="_blank">change</a>
</div>

